# Copyright 2019 RStudio, Inc.
# All rights reserved.
#
# Use of this source code is governed by a BSD 2-Clause
# license that can be found in the LICENSE file.

wheel==0.31.1
six>=1.0.0
numpy==1.14.5
futures; python_version < "3.2"
